body {
        
    position: relative; 
    background-color: pink;
    color: white;
    font-family: sans-serif; /* Choose a font you like */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 80vh; /* Ensure full viewport height */
    margin: 0; /* Remove default margins */
}

h1 {
    
    position: absolute;
    top: 10px; 
    left: 50%; 
    transform: translateX(-50%);
    padding: 50px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #eee;
    text-align: center;
    background:#b1bf18;
}

h2 {
    
    position: absolute;
    top: 325px; 
    left: 50%; 
   
    padding: 10px 0;
    margin: 0;
    margin-bottom: 30px;
    font-size: 20px;
    color: #eee;
    text-align: center;
    background:#e370b5;
}


button {
    position: relative; 
    left: 45%; 
    padding: 10px 0;
    margin: 0;
    margin-bottom: 70px;
    font-size: 20px;
    color: #eee;
    text-align: relative;
    background:#bf187f;
}

p {
    position: relative; 
    left: 1%; 
    padding: -1px 0;
    margin: 0;
    margin-bottom: 40px;
    font-size: 20px;
    color: #eee;
    text-align: center;
    background:#bf187f;
}

 

